*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family= EB+Garamond:wght@400;600;700 & display =swap');

:root{
    --cor1: rgb(0, 0, 0);
    --cor2: rgba(197, 5, 5, 0.74);
    --cor3: rgb(201, 61, 61);

    --fonte-titulo: "'EB Garamond', serif";

}


body{
    background-image: linear-gradient(to left, rgb(0, 0, 0) , rgba(197, 5, 5, 0.74));

}
header{
   background-image: linear-gradient(to right , rgba(0, 0, 0, 0.616) , rgba(206, 34, 34, 0.753) ); 
   height: 380px;
   font-family: Arial, Helvetica, sans-serif;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
}
main{
    background-color: white;
    line-height: 2em;
    height: 2000px;
    width: 1200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.527);
    margin: auto;
    
}
.imagem2 > img{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}




nav{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2%;
    left: 9%;
    height: 90%;
    width: 90%;
    
}
nav > a{
    margin: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
}
nav > a:hover{
    text-decoration: underline;
}
.compra{
    background-color: red;
    height: 35px;
    width: 90px;
    padding-left: 15px;
    padding-top: 5px;
   margin: 5px;
    border-radius: 15px;
        
}

.imagem1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
     
    min-width: 300px;
    max-width: 1000px;
    margin: 10px;
    

}
.principal{
    display: flex;
    width: 200px;
    transition-duration: 1.3s;
    
    
}
.imagem2{
  display:flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}
div.video{
    background-image: linear-gradient(to top , rgb(0, 0, 0) , rgba(197, 5, 5, 0.74));
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 30px;
    padding-bottom: 50%;
    position: relative;

}
div.video > iframe{
    position: absolute;
    top:  5%;
    left: 5%;
    height: 90%;
    width: 90%;
    border-radius: 25px;


}
.titulo{
   color: red;
   font-family: 'EB Garamond' serif;
   font-size: 2em;
   font-weight: bolder;
}
p{
    font-weight: bolder;
}
